<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
              <mat-card >
                <div class="container text-center">
                    <img class="mt20" src="../../../assets/logo.png" alt="">
                </div>
                <b></b><h1 class="text-center">Register Here</h1>
                <form (ngSubmit)="formSubmit()">
                  <div class="ml20 mr20">
                    <!-- Username Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input
                        required
                        [(ngModel)]="user.username"
                        name="username"
                        matInput placeholder="Enter here">
                        <mat-hint>Username must be unique!!</mat-hint>
                      </mat-form-field>
                      <!-- Password Field -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.password"
                        name="password"
                        type="password" matInput placeholder="Enter here">
                      </mat-form-field>
                      <!-- First Name Field -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.firstName"
                        name="firstName"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                      <!-- Last Name Field -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                      <!-- Phone No. Field -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input
                        required
                        [(ngModel)]="user.phone"
                        name="username"
                        type="number"
                        matInput placeholder="Enter here">
                      </mat-form-field>
                      <!-- Email Field -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>E-mail ID</mat-label>
                        <input
                        required
                        [(ngModel)]="user.email"
                        name="email"
                        type="email" matInput placeholder="Enter here">
                      </mat-form-field>
                      <div class="container text-center mb20">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button type="reset" style="margin-left: 20px" mat-raised-button color="accent">Clear</button>
                      </div>
                    </div>
                </form>
              </mat-card>
            </div>
        </div>
    </div>
</div>
